
@font-face {
  font-family:'LatoLatin';
  src: url('/fonts/lato/LatoLatin-Light.eot');
  src: url('/fonts/lato/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/LatoLatin-Light.woff2') format('woff2'), url('/fonts/lato/LatoLatin-Light.woff') format('woff'), url('/fonts/lato/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}


@font-face {
  font-family: 'LatoLatin';
  src: url('/fonts/lato/LatoLatin-LightItalic.eot');
  src: url('/fonts/lato/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/LatoLatin-LightItalic.woff2') format('woff2'), url('/fonts/lato/LatoLatin-LightItalic.woff') format('woff'), url('/fonts/lato/LatoLatin-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}


@font-face {
  font-family: 'LatoLatin';
  src: url('/fonts/lato/LatoLatin-Regular.eot');
  src: url('/fonts/lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/LatoLatin-Regular.woff2') format('woff2'), url('/fonts/lato/LatoLatin-Regular.woff') format('woff'), url('/fonts/lato/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'LatoLatin';
  src: url('/fonts/lato/LatoLatin-Italic.eot');
  src: url('/fonts/lato/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/LatoLatin-Italic.woff2') format('woff2'), url('/fonts/lato/LatoLatin-Italic.woff') format('woff'), url('/fonts/lato/LatoLatin-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'LatoLatin';
  src: url('/fonts/lato/LatoLatin-Bold.eot');
  src: url('/fonts/lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/LatoLatin-Bold.woff2') format('woff2'), url('/fonts/lato/LatoLatin-Bold.woff') format('woff'), url('/fonts/lato/LatoLatin-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
	font-family: "Gotham";
	src: url('/fonts/gotham/Gotham-Thin.otf') format("opentype");
}
