@font-face {
  font-family: 'Apester-Font';
  src:  url('https://d1azc1qln24ryf.cloudfront.net/124741/ApesterRenderer/Apester-Font.eot?uthatn');
  src:  url('https://d1azc1qln24ryf.cloudfront.net/124741/ApesterRenderer/Apester-Font.eot?uthatn#iefix') format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/124741/ApesterRenderer/Apester-Font.woff2?uthatn') format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/124741/ApesterRenderer/Apester-Font.ttf?uthatn') format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/124741/ApesterRenderer/Apester-Font.woff?uthatn') format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/124741/ApesterRenderer/Apester-Font.svg?uthatn#Apester-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Apester-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Freehand-Round:before {
  content: "\e908";
}
.icon-Slideshow-Round:before {
  content: "\e909";
}
.icon-Slideshow:before {
  content: "\e907";
}
.icon-player-mute:before {
  content: "\e904";
}
.icon-player-sound:before {
  content: "\e906";
}
.icon-player-fullscreen:before {
  content: "\e901";
}
.icon-player-unfullscreen:before {
  content: "\e905";
}
.icon-json:before {
  content: "\e900";
}
.icon-confetti:before {
  content: "\e93b";
}
.icon-star:before {
  content: "\e93c";
}
.icon-thumb:before {
  content: "\e939";
}
.icon-share:before {
  content: "\e91d";
}
.icon-like:before {
  content: "\e91e";
}
.icon-text-l:before {
  content: "\e912";
}
.icon-copy-link:before {
  content: "\e912";
}
.icon-restart:before {
  content: "\e629";
}
.icon-audio:before {
  content: "\e935";
}
.icon-trimmer:before {
  content: "\e938";
}
.icon-pause:before {
  content: "\e936";
}
.icon-play:before {
  content: "\e614";
}
.icon-arrow-left:before {
  content: "\e61c";
}
.icon-arrow-up:before {
  content: "\e618";
}
.icon-arrow-right:before {
  content: "\e61d";
}
.icon-approve:before {
  content: "\e118";
}
.icon-cross:before {
  content: "\e117";
}
.icon-cnet:before {
  content: "\e62b";
}
.icon-huff:before {
  content: "\e625";
}
.icon-email:before {
  content: "\e921";
}
.icon-share-embed:before {
  content: "\e922";
}
.icon-linkedin:before {
  content: "\e49f";
}
.icon-facebook:before {
  content: "\e49e";
}
.icon-twitter:before {
  content: "\e49d";
}
.icon-whatsapp:before {
  content: "\e608";
}
.icon-rolling-story-round:before {
  content: "\e902";
}
.icon-countdown-round:before {
  content: "\e903";
}
.icon-video-round:before {
  content: "\e628";
}
.icon-personality-round:before {
  content: "\e61a";
}
.icon-quiz-round:before {
  content: "\e619";
}
.icon-poll-round:before {
  content: "\e613";
}
.icon-apester-round:before {
  content: "\e607";
}
.icon-royal-a-round:before {
  content: "\e607";
}
.icon-rolling-story:before {
  content: "\e60f";
}
.icon-countdown:before {
  content: "\e604";
}
.icon-video:before {
  content: "\e609";
}
.icon-personality:before {
  content: "\e60a";
}
.icon-quiz:before {
  content: "\e60b";
}
.icon-poll:before {
  content: "\e60c";
}
.icon-apester-a:before {
  content: "\e606";
}
.icon-royal-a:before {
  content: "\e606";
}
.icon-apester-logo:before {
  content: "\e60e";
}
