/* green */
#page_bg {
	background: #000 url(../images/green/mw_bg.jpg) top center no-repeat;
}

div#top_bg {
	width:100%;
	padding-top:50px;
	/*background:url(../images/green/TopBG.jpg) 0 0 repeat-x;*/
}

div#wrapper {
	background: #f7f7f7;
	//background: #f7f7f7 url(../images/green/mw_shadow_l.png) 0 0 repeat-y;
	-moz-box-shadow: 0px 0px 10px #666;
	-webkit-box-shadow: 0px 0px 10px #666;
	box-shadow: 0px 0px 10px #666;
}

div#wrapper_r {
	//background: url(../images/green/mw_shadow_r.png) 100% 0 repeat-y;
	margin:0;
	padding:0;
}

div#header {
	background: url(../images/green/HeaderBG.jpg) 0 0 repeat-x;
	width:1000px;
	height:125px;
}

div#header_l {
	/*background: url(../images/green/mw_header_t_l.png) 0 0 no-repeat;*/
}

div#header_r {
	/*background: url(../images/green/mw_header_t_r.png) 100% 0 no-repeat;*/
}

div#header_c {
	display:block;
	float:right;
	width:244px;
	height:175px;
	position:relative;
	top:-50px;
	right:-46px;
	/*background: url(../images/green/HeaderCorner.png) 0 0 no-repeat;*/
}

div#footer {
	background: #f7f7f7 url(../images/green/mw_footer.jpg) 0 100% repeat-x;
	height: 94px;
}

div#footer_l {
	background: url(../images/green/mw_footer_b_l.png) 0 0 no-repeat;
}

div#footer_r {
	background: url(../images/green/mw_footer_b_r.png) 100% 0 no-repeat;
}