body{background-color:#fff;color:#000;}
a{color:#666666;font-weight:400;text-decoration:underline;}
a:hover{color:#6a1800;}
h2{color:#000;}
h3{color:#000;}
#TopMenu li a, #TopMenu li div{color:#000;background:url('../../Magnificent/images/blue/bg_menu.png') no-repeat 0% 2px;}
#TopMenu li div a{background:none !important;color:#000}
#TopMenu li a:hover{color:#000;}
#Menu li a{color:#fff;}
#Menu li ul li a{background:#50575f;}
#Menu li ul li a:hover{background-color:#50575f;color:#fff;}
#Menu li:hover a, #Menu li.over a{}
#Outer{}
#Header{}
#Logo h1{color:#fff;font-family:Arial, Helvetica, sans-serif}
#Logo h1 a{color:#fff;}
#Logo h1 a span{color:#fff;}
#SearchForm{color:#fff;}
#SearchForm label{color:#fff;}
#SearchForm a{color:#fff;text-decoration:none}
#SearchForm a:hover{color:#fff;}
.Left{}
.Left li{}
.Left li a:hover{color:#3b7ea1;}
.Content{background-color:#fff}
.Content a{color:#075899;}
.Content.Wide{}
.Content.Widest{}
.Right{}
.Right a{color:#034285;}
.Right a:hover, .Right a:hover strong{color:#001927;}
#Footer{background:url(../../Magnificent/images/blue/bg_footer.gif.png) no-repeat;color:#000;}
#Footer a{color:#000;text-decoration:underline}
#Footer li a{border-left:1px solid #fff;}
.Content .ProductList li{border:1px solid #e7e7e7;-moz-border-radius:8px;-webkit-border-radius:8px;}
.Content .ProductList li:hover, .Content .ProductList li.Over{background:#f8f8f8;border:1px solid #b3d1f2;}
.ProductList .ProductImage{background:#fff;}
.ProductList strong, .ProductList strong a{color:#075899;}
.ProductPrice, .ProductList em{color:#ff3333;}
.ProductList .Rating{color:#797979;}
.Right .ProductList li{background:url(../../Magnificent/images/blue/bg_sideli.gif) repeat-x 0% 100%;}
.Content .FeaturedProducts .ProductList li{width:118px !important;border:4px solid #dce8f4}
.Content .FeaturedProducts .ProductList li:hover, .Content .FeaturedProducts .ProductList li.Over{border:4px solid #b3d1f2}
.Left .TopSellers li .TopSellerNumber, .Right .TopSellers li .TopSellerNumber{background:url(../../Magnificent/images/blue/TopSellerNumberBg.gif) 0 4px no-repeat;color:#fff;font-weight:700;}
.Left .TopSellers li.TopSeller1, .Right .TopSellers li.TopSeller1{border:1px solid #e6e6e6;-moz-border-radius:8px;-webkit-border-radius:8px;background:#fff;}
.Left .TopSellers li.TopSeller1 .TopSellerNumber, .Right .TopSellers li.TopSeller1 .TopSellerNumber{background:url(../../Magnificent/images/blue/TopSellerNumber1Bg.png) 0 0 no-repeat;color:#fff;font-weight:700;}
.Left .TopSellers .ProductActionAdd, .Right .TopSellers .ProductActionAdd, .Left .NewProducts .ProductActionAdd, .Right .NewProducts .ProductActionAdd, .Left #SideProductRecentlyViewed .ProductActionAdd, .Right #SideProductRecentlyViewed .ProductActionAdd{background:none;display:inline;text-align:left;margin-top:5px;}
.Left .TopSellers .ProductActionAdd a, .Right .TopSellers .ProductActionAdd a, .Left #SideProductRecentlyViewed .ProductActionAdd a, .Right #SideProductRecentlyViewed .ProductActionAdd a{color:#666;text-decoration:underline;font-size:1.1em !important}
.Left .NewProducts .ProductActionAdd, .Right .NewProducts .ProductActionAdd{display:block;margin:5px 0;width:112px;height:19px;text-align:center;padding-top:4px;font-size:.95em;background:url(../../Magnificent/images/blue/ProductActionAddNew.gif.png) no-repeat 0% 0%;font-weight:400}
.Left .NewProducts .ProductActionAdd a, .Right .NewProducts .ProductActionAdd a{font-weight:400;color:#fff;}
.Left .TopSellers li.TopSeller1 .ProductActionAdd a, .Right .TopSellers li.TopSeller1 .ProductActionAdd a, .Left .TopSellers li.TopSeller1 .ProductActionAdd a:hover, .Right .TopSellers li.TopSeller1 .ProductActionAdd a:hover{color:#fff;text-decoration:none;font-weight:400 !important}
.Left .TopSellers li.TopSeller1 .ProductActionAdd, .Right .TopSellers li.TopSeller1 .ProductActionAdd{display:block;margin:5px 0;width:112px;height:19px;text-align:center;padding-top:4px;font-size:.95em;background:url(../../Magnificent/images/blue/ProductActionAdd.gif.png) no-repeat 0% 0%;font-weight:400}
.Breadcrumb{border-bottom:1px solid #DCDFE2;}
.CompareItem{width:200px;border-left:solid 1px #CACACA;}
.CompareFieldName{font-weight:bold;border-bottom:1px solid #EFF8FA;}
.CompareFieldTop{border-bottom:solid 1px #85BADF;}
.CompareFieldTop a:hover{color:red;}
.CompareCenter{border-left:solid 1px #85BADF;border-bottom:solid 1px #F2F2F2;}
.CompareLeft{border-left:solid 1px #85BADF;border-bottom:solid 1px #F2F2F2;}
.ViewCartLink{background:url('../../Magnificent/images/blue/Cart.gif') no-repeat 3px 0;}
table.CartContents, table.General{border:1px solid #c7d7db;}
.CartContents thead tr th, table.General thead tr th{background:#edf2f3;color:#424748;border-bottom:1px solid #c7d7db;}
.CartContents tfoot .SubTotal td{border-top:1px solid #c7d7db;color:#075899;}
.MiniCart .SubTotal{color:#075899;}
.JustAddedProduct{border:1px solid #c0dae7;background:#fff;}
.JustAddedProduct strong, .JustAddedProduct a{color:#075899;}
.CategoryPagination{color:#034285;background:#f4fbfc;border:1px solid #c0dae7;}
.CheckoutRedeemCoupon{background:#EAFDFF;padding:10px;width:300px;border:1px solid #9DD3D8;margin-bottom:10px;}
.SubCategoryList, .SubBrandList{background:#EEF5F9;}
.InfoMessage{background:#EFF8FA url('../../Magnificent/images/InfoMessage.gif') no-repeat 5px 8px;color:#555;}
.SuccessMessage{background:#E8FFDF url('../../Magnificent/images/SuccessMessage.gif') no-repeat 5px 8px;color:#555;}
.ErrorMessage{background:#FFECEC url('../../Magnificent/images/ErrorMessage.gif') no-repeat 5px 8px;color:#555;}
.ComparisonTable tr:hover td, .ComparisonTable tr.Over td{background:#EFF8FA;}
.ProductActionAdd{background:url(../../Magnificent/images/blue/ProductActionAdd.gif.png) no-repeat 0% 0%;}
.ProductActionAdd a{color:#fff;font-weight:400}
.EstimateShipping{border:1px solid #c7d7db;background:#edf2f3;}
.ExpressCheckoutBlock .ExpressCheckoutTitle{background:#dce8f4;border:1px solid #c4d7eb;}
.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle{background:#f0f0f0;border:1px solid #ddd;color:#555;}
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent{color:#888;}
.TabNav{border-bottom:1px solid #3d9abe;}
.TabNav li a{border:1px solid #3d9abe;background:#ddf0f6;}
.TabNav li a:hover{background-color:#c8e6ed;}
.TabNav li.Active a{border-bottom:1px solid #fff;background:#fff;}
table.General tbody tr td{border-top:1px solid #efefef;}
.CartContents .ItemShipping th{border-bottom-color:#c7d7db;border-top-color:#c7d7db;background:#edf2f3;color:#424748;}