
/* add require */
/* $Id: base.css,v 1.27.170.2 2009-04-27 19:37:56 cclark Exp $ */
body {font:400 10pt arial,sans-serif; color:#000; background:#fff;}
p {font:400 10pt arial,sans-serif;}
li {font:400 10pt arial,sans-serif;}
td {font:400 10pt arial,sans-serif;}
th {font:400 10pt arial,sans-serif;}
.content {background:#fff; text-align:left;}
a:link {color:#009;}
a:visited {color:#609;}
a:active {color:#363;}
a:link:hover {color:#363;}
b {font-weight:800; color:#000;}
dt {font-weight:800; color:#000;}
q {display:block; padding:0 0 5px 20px;}
cite {display:block; padding:0 0 15px 20px;}
h1 {font:700 14pt arial,sans-serif; color:#333;}
h2 {font:800 12pt arial,sans-serif; color:#575757;}
h3 {font:600 12pt arial,sans-serif; color:#000;}
h4 {font:500 10pt arial,sans-serif; color:#557;}
.lineborder {background:#666;}
.formborder {background:#666;}
.footer {font-size:10px;}
.smalltext {font-size:10px;}
.breadcrumb {font-size:10px; padding-left:9px; text-align:left; background:#fff;}
.heading1 {font:700 14pt arial,sans-serif; color:#fff; background:#666; text-align:center;}
.heading2 {font:800 12pt arial,sans-serif; color:#292929; background:#b5b5c1;}
.formheading {font:800 12pt arial,sans-serif; color:#292929; background:#b5b5c1;}
.heading3 {font:600 12pt arial,sans-serif; color:#fff; background:#7c7c7c;}
.formdesc {background:#fff; color:#000;}
.entry {background:#eee; color:#333;}
.value {background:#eee; color:#333;}
.label {font-weight:800; color:#333; background:#d0d0d0;}
.even {background:#fff;}
.odd {background:#dedee3;}
.buttonbarright {background:#666; text-align:right;}
.buttonbarleft {background:#666; text-align:left;}
.highlight {background:#fff280; color:#000;}
.tip {background:url(/kicons/dotorg/tip_16.png) left no-repeat; padding-left:17px; padding-top:3px;}
.important {background:url(/kicons/dotorg/warning_16.png) left no-repeat; padding-left:17px; padding-top:3px; font-weight:800;}
.formdesc .important {background-color:#fff280; color:#000; border:1px solid #fc0; display:block;}
.info {background:url(/kicons/dotorg/about_16.png) left no-repeat; padding-left:17px; padding-top:3px;}
.korg_hidden {display:none;}
/* pageheading */
#pageheading {margin-bottom:15px;}
#pageheading:after {display:block; clear:both; content:" ";}
/* clearing without presentational markup in supported browsers: */
#pageheading h1 {white-space:nowrap; margin:10px 27px 0.5em 0;}
#pageheading table {width:auto; float:right; margin:0 0 0 1em; white-space:nowrap;}
#pageheading p a {float:none; display:inline; width:auto;}
body {margin:5px; padding:5px;}
.content {color:#000;}
h4 {font-weight:500;}
.footer {background:#fff; color:#000; padding:0.5em 5px 0.5em 9px;}
.breadcrumb {color:#333;}
.buttonbarright {color:#fff;}
.buttonbarleft {color:#fff;}
#pageheading a {float:right; width:27px; border:none;}
#pageheading a img.helpproducticon {border:none;}
/* copied from styles/base.css */
ul {font:400 10pt arial,sans-serif;}
ol {font:400 10pt arial,sans-serif;}
.default {font:400 10pt arial,sans-serif;}
.fieldesc {font:400 10pt arial,sans-serif;}
.fieldentry {font:400 10pt arial,sans-serif;}
pre {font:400 10pt arial,sans-serif;}
blockquote {font:400 10pt arial,sans-serif;}
a:hover {color:#363;}
strong {font-weight:800; color:#000;}
i {font-style:italic;}
em {font-style:italic;}
.h1 {font:700 14pt arial,sans-serif; color:#333;}
.h2 {font:800 12pt arial,sans-serif; color:#575757;}
.h3 {font:600 12pt arial,sans-serif; color:#000;}
.h4 {font-weight:500; color:#557; font:500 10pt arial,sans-serif;}
.heading {font:800 14px Arial,sans-serif; background:#039; color:#fff;}
.heading4 {font:600 10pt Arial,sans-serif; background:#b6b6b6; color:#2a2a2a;}
.heading5 {font:600 10pt Arial,sans-serif; background:#ccc; color:#444;}
img.spacer {display:block;}
.actionerror {font-weight:600; color:#9B2A2A;}
.entryerror {font-weight:600; color:#9B2A2A;}
.fielderror {font-weight:600; color:#9B2A2A;}
.error {font-weight:600; color:#9B2A2A;}
.success {font-weight:600; color:#335;}
.results {background:#eee;}
.fieldlabel {font-weight:700;}
.sup {font:normal .7em sans-serif; vertical-align:super;}
a.plain {text-decoration:none; color:#333;}
.buttonbar {background:#005094; color:#fff;}
.details {background:#dedee3; color:#333;}
.border {background:#666;}
.progressborder {background:#ccc;}
.progresstitle {background:#fff; color:#000; font-size:9px;}
.progresspast {background:#f1f1f1; color:#000; font-style:italic; font-size:9px; vertical-align:middle;}
.progressfuture {background:#f1f1f1; color:#000; vertical-align:middle; font-size:9px;}
.progressactive {font-weight:700; background:#666; color:#fff; vertical-align:middle; font-size:9px;}
/* add remove require */
/* $Id: korg.css,v 1.57 2008-07-14 21:35:02 cclark Exp $ */
/* visualFontSizeCorretion for the content area of KEdit */
.content {background:#fff;}
.visualFontSizeCorrection {background:#fff;}
img.spacer {display:block;}
img.producticon {border:none;}
img.production {border:none;}
.error {font-weight:600; color:#f00; display:block; width:auto; background:#ff8; padding:3px; margin:2px; border:1px solid #f00;}
.progressborder {background:#666;}
.progresstitle {background:#fff; color:#000; font-size:9px;}
.progresspast {background:#f1f1f1; color:#000; font-style:italic; font-size:9px; vertical-align:middle;}
.progressfuture {background:#f1f1f1; color:#000; vertical-align:middle; font-size:9px;}
.progressactive {font-weight:700; background:#666; color:#fff; vertical-align:middle; font-size:9px;}
.formheading a {line-height:18px; text-decoration:none; font-size:10px; border:1px solid #fff; color:#009; margin:2px; padding:3px 8px; white-space:pre;}
td.label a {line-height:18px; text-decoration:none; font-size:10px; border:1px solid #fff; color:#009; margin:2px; padding:3px 8px; white-space:pre;}
.formheading a:link {background-color:#e4e4e4; white-space:nowrap;}
.formheading a:visited {background-color:#e4e4e4; white-space:nowrap;}
td.label a:link {background-color:#e4e4e4; white-space:nowrap;}
td.label a:visited {background-color:#e4e4e4; white-space:nowrap;}
.formheading a:hover {background-color:#ccc;}
td.label a:hover {background-color:#ccc;}
input:focus {background:#fff280;}
textarea:focus {background:#fff280;}
option:focus {background:#fff280;}
tr.label th {text-align:left;}
tr.odd td {vertical-align:top;}
tr.even td {vertical-align:top;}
tr.odd:hover {background:#fff280;}
tr.even:hover {background:#fff280;}
tr.odd label {display:block; width:100%;}
tr.even label {display:block; width:100%;}
div.suboptions {margin:0 0 5px 24px;}
div.reportoperator {float:left;}
div.reportentry {float:left; display:block; margin:0 0 0 4px;}
a.addlink {background:url(/kicons/dotorg/add_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.editlink {background:url(/kicons/dotorg/edit_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.deletelink {background:url(/kicons/dotorg/remov_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.viewlink {background:url(/kicons/dotorg/srch_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.downloadlink {background:url(/kicons/dotorg/export_data_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.managelink {background:url(/kicons/dotorg/move_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.configurelink {background:url(/kicons/dotorg/confg_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.sendmaillink {background:url(/kicons/dotorg/mail_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.activityhistorylink {background:url(/kicons/dotorg/hist_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.activatelink {background:url(/kicons/dotorg/connect_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.deactivatelink {background:url(/kicons/dotorg/disconnect_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.moderatelink {background:url(/kicons/dotorg/opts_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.clonelink {background:url(/kicons/dotorg/copy_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.runreptlink {background:url(/kicons/dotorg/impts_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.changepswdlink {background:url(/kicons/dotorg/lock_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.completepymntlink {background:url(/kicons/dotorg/bill_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.cancellink {background:url(/kicons/dotorg/cancl_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.disputelink {background:url(/kicons/dotorg/flag_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.reportslink {background:url(/kicons/dotorg/reports_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.admintoolslink {background:url(/kicons/dotorg/tools_16.png) left no-repeat; padding:3px 8px 2px 18px; margin:3px;}
a.action {white-space:nowrap; padding:4px 0 8px 14px; background:url(/kicons/dotorg/play_16.png) left no-repeat; display:block;}
/* roster selectors */
div#roster tr.odd:hover {background-color:inherit;}
div#roster tr.even:hover {background-color:inherit;}
/* kedit selectors */
.keditborder {background:#000;}
.kedittabactive {background:#fff; text-align:center;}
.kedittabinactive {background:#ccc; text-align:center;}
.keditstatusbar {font-size:10px; background:#f1f1f1;}
.keditbuttonedit {background:#fff; font-size:10px; text-align:right;}
.keditcontentarea {background:#fff;}
.kedithighlight {background:#fcfcbd;}
/* dynamic nav selectors */
#menu ul {margin:0; padding:0; list-style-type:none; font-family:arial,sans-serif;}
#menu a {margin:0 0 1px 0; font-size:10px; display:block; padding:5px 5px; width:110px; color:#333; background:#e4e4e4; text-decoration:none;}
#menu a:hover {color:#000; background:#ccc; text-decoration:none;}
#menu a.menuon {color:#000; background:#fff280; text-decoration:none;}
#menu ul ul a {display:block; padding:5px 5px 5px 15px; width:100px; color:#333; background:#e4e4e4; text-decoration:none;}
#menu ul ul a:hover {color:#000; background:#ccc; text-decoration:none;}
#menu ul ul ul a {display:block; padding:5px 5px 5px 25px; width:75px; color:#333; background:#e4e4e4; text-decoration:none;}
#menu ul ul ul a:hover {color:#000; background:#ccc; text-decoration:none;}
#menu ul ul ul ul a {display:block; padding:5px 5px 5px 35px; width:55px; color:#333; background:#e4e4e4; text-decoration:none;}
#menu ul ul ul ul a:hover {color:#000; background:#ccc; text-decoration:none;}
/* korg_app page selectors */

/* tabs styles */
.korg_app_page .korg_tabs ul {font-weight:bold; margin:2px 0 1px 12px; padding:0;}
.korg_app_page .korg_tabs li {list-style:none; display:inline; margin:0;}
.korg_app_page .korg_tabs li a {line-height:1.7em; border:2px solid #666; border-bottom:none; margin-left:3px; padding:4px 0.5em 5px; text-decoration:none; background:#f0f0f9;}
.korg_app_page .korg_tabs li a:hover {color:#000; background:#fff280;}
.korg_app_page .korg_tabs li.korg_tabs_current a {color:#000; background:#f9f9f9; border-bottom:2px solid #fff;}
/* Box styles - these are the boxes that are front-end containers, such as the rounded corner boxes that contain application content */
.korg_app_page .korg_box {border:2px solid #666; -moz-border-radius:20px; -webkit-border-radius:20px; margin:0; padding:20px; overflow:hidden; height:1%;}
.korg_app_page .korg_box:after {content:" "; display:block;}
/* Bubble styles - these are modularized content boxes such as sideboxes or spotlight boxes or boxes that may be floated to the left or right of the main content. */
.korg_app_page .korg_bubble {background:#f9f9f9; border:2px solid #666; -moz-border-radius:20px; -webkit-border-radius:20px; margin-bottom:15px; padding:20px;}
.korg_app_page .korg_bubble h1 {margin-top:0;}
/* Form styles */
.korg_app_page .korg_form {background:#f1f1f1; padding:0; border:2px solid #e2e2e2;}
.korg_app_page .korg_form ol {list-style-type:none; margin:0; padding:10px;}
.korg_app_page .korg_form ol li {display:block; clear:left; margin:0 0 15px 0; padding:10px; overflow:auto;}
.korg_app_page .korg_form ol ol {padding:0;}
.korg_app_page .korg_form li li {padding:0 10px; border:2px solid transparent;}
.korg_app_page .korg_form ol ol ol {padding:0; margin:0;}
.korg_app_page .korg_form li li li {padding:0;}
.korg_app_page .korg_form em {display:block; font-style:normal; margin:1px 0 3px 0;}
.korg_app_page .korg_form p {margin:0; padding:0;}
.korg_app_page .korg_form legend {margin:0; padding:0;}
.korg_app_page .korg_form legend span {font-weight:800; font-size:15px;}
.korg_app_page .korg_form ol fieldset legend {background:inherit; padding:10px 0 0 0;}
.korg_app_page .korg_form label {font-weight:800; font-size:15px; display:block;}
.korg_app_page .korg_form fieldset {border:0 none transparent; padding:0; margin:0;}
.korg_app_page .korg_form ol fieldset {background:inherit;}
.korg_app_page .korg_form fieldset ol {margin-top:20px; margin-left:30px;}
.korg_app_page .korg_form fieldset ol li {margin:0 0 15px 0;}
.korg_app_page .korg_form fieldset ol li label {font-size:12px;}
.korg_app_page .korg_form .formheading {margin:0; padding:0; color:#000;}
.korg_app_page .korg_form .korg_kdaterange_field {float:left; margin-right:20px; font-size:11px;}
.korg_app_page .korg_form .suboptions {font-size:11px;}
.korg_app_page .korg_form .korg_form_radios ul li {margin:0; padding:0;}
.korg_app_page .korg_form .korg_form_radios ul li label {font-size:12px; font-weight:400; display:inline;}
.korg_app_page .korg_form .korg_form_checks ul li {margin:0; padding:0;}
.korg_app_page .korg_form .korg_form_checks ul li label {font-size:12px; font-weight:400; display:inline;}
.korg_app_page .korg_form input {border:2px solid #e2e2e2; font-size:14px; color:#333; padding:2px;}
.korg_app_page .korg_form .formheading p {font-size:12px;}
.korg_app_page .korg_form .value {background:transparent;}
.korg_app_page .korg_form .korg_fieldfocus {background:#fff; border:2px solid #e2e2e2;}
.korg_app_page .korg_form .korg_buttonbar {overflow:auto; padding-bottom:20px;}
.korg_app_page .korg_form .korg_buttonbar input {cursor:pointer;}
.korg_app_page .korg_form .korg_buttonbar .submit {background:#fff280; font-weight:bold;}
div.korg_field_container ul {padding:0; margin:0 0 0 20px;}
.korg_app_page .korg_form .korg_buttonbar .cancel {background:transparent; color:#333; margin:0; padding:0; border:0; border-bottom:1px solid #333; font-size:11px;}
.korg_app_page .korg_form .korg_buttonbar .korg_buttonbarleft {float:left; width:auto; padding-left:25px;}
.korg_app_page .korg_form .korg_buttonbar .korg_buttonbarright {float:left; width:auto; margin-left:10px;}
/* table styles for tabular data fields within normal forms */
.korg_app_page .korg_form .korg_tdw {padding:0; margin:.5em;}
.korg_app_page .korg_form .korg_tdw p {display:none;}
.korg_app_page .korg_form .korg_tdw label {display:block; float:none; text-align:left; padding:0;}
.korg_app_page .korg_form .korg_tdw td label {display:block; text-align:left; font-weight:400; margin:0; padding:0; width:auto;}
.korg_app_page .korg_form .korg_tdw .entry {font-size:11px;}
.korg_app_page .korg_form .korg_tdw table {clear:left; background:#e1e1e1; margin:0; width:100%;}
.korg_app_page .korg_form .korg_tdw table th {background:#f9f9f9;}
.korg_app_page .korg_form .korg_tdw table tr {background:#fff;}
.korg_app_page .korg_form .korg_tdw table tr:hover {background:#fff280;}
.korg_app_page .korg_form .korg_tdw table tr td {font-size:90%; padding:3px;}
.korg_app_page .korg_form .korg_tdw a {font-size:90%;}
.korg_app_page .korg_checkbox_ctrl {display:inline; margin-left:.25em;}
.korg_app_page .korg_checkbox_ctrl a {margin-right:.5em;}
/* Select Form styles - Find box styles */
.korg_app_page .korg_select_form h2 {display:inline; margin-right:10px;}
.korg_app_page .korg_select_form ol {list-style-type:none; margin:0; padding:0;}
.korg_app_page .korg_findbox {border:2px solid #e1e1e1; -moz-border-radius:20px; -webkit-border-radius:20px; margin:10px 0 0 0; padding:10px 20px;}
.korg_app_page .korg_findbox label {display:none;}
.korg_app_page .korg_findbox div.korg_field_container {display:inline;}
.korg_app_page .korg_findbox h3 {display:inline; padding-right:10px;}
.korg_app_page .korg_findbox ol {list-style-type:none;}
.korg_app_page .korg_findbox ol li {float:left; margin-right:1px; padding:5px; list-style-type:none;}
.korg_app_page .korg_findbox ol li div.korg_field_container {display:block;}
.korg_app_page .korg_findbox ol li label {font-size:80%; display:block; font-weight:700;}
.korg_app_page .korg_findbox ol li ul {margin:0; padding:0;}
.korg_app_page .korg_findbox ol li ul li {display:block; float:none; padding:0; margin:0; font-size:90%;}
.korg_app_page .korg_findbox ol li ul li label {font-weight:400;}
.korg_app_page .korg_findbox_toggle {background:url(/share/images/icons/workgroup/pl.gif) no-repeat left; padding-left:20px; cursor:pointer; font-size:80%; font-weight:bold; margin-top:10px; width:16em; white-space:nowrap;}
.korg_app_page .korg_findbox_toggle img {vertical-align:middle;}
.korg_app_page .korg_findbox_contract {background-image:url(/share/images/icons/workgroup/mi.gif);}
.korg_app_page .korg_findbox .korg_findbox_options {margin-top:5px; font-size:95%; overflow:hidden; height:1%;}
.korg_app_page .korg_findbox .korg_findbox_options:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
.korg_app_page .korg_findbox .korg_findbox_options fieldset {margin:.5em; padding:.5em 1em; display:inline; vertical-align:top;}
.korg_app_page .korg_findbox .korg_findbox_options legend {font-weight:bold; font-size:90%; color:#000;}
.korg_app_page .korg_findbox .korg_findbox_options fieldset label {display:block; width:25%; cursor:pointer; font-size:95%;}
.korg_app_page .korg_findbox .korg_findbox_options fieldset input {margin-right:.5em;}
.korg_app_page .korg_findbox .korg_findbox_options .resetbutton {display:block; clear:left;}
.korg_app_page .korg_findbox ol li em {font-size:80%; font-style:normal;}
/* Select Form styles - Tabular Data and Pagination styles */
.korg_app_page .korg_select_form .korg_tdw {padding:0; margin:0; margin-top:.5em;}
.korg_app_page .korg_select_form .korg_tdw p {display:none;}
.korg_app_page .korg_select_form .korg_tdw label {display:none;}
.korg_app_page .korg_select_form .korg_tdw td label {display:block; text-align:left; font-weight:400; margin:0; padding:0;}
.korg_app_page .korg_select_form .korg_tdw table {background:#e1e1e1; margin:0; width:100%;}
.korg_app_page .korg_select_form .korg_tdw table th {background:#f9f9f9;}
.korg_app_page .korg_select_form .korg_tdw table tr {background:#fff;}
.korg_app_page .korg_select_form .korg_tdw table tr:hover {background:#fff280;}
.korg_app_page .korg_select_form .korg_tdw table tr td {font-size:90%; padding:3px;}
.korg_app_page .korg_select_form .korg_tdw a {font-size:90%;}
/* Vcard styles - used for displaying vcard type things - image and name and contact information */
.korg_app_page .korg_vcard {height:1%; overflow:hidden;}
.korg_app_page .korg_vcard:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
.korg_app_page .korg_vcard * {margin:0; padding:0;}
.korg_app_page .korg_vcard p.tip {padding-left:2em; padding-bottom:.5em;}
.korg_app_page .korg_vcard img {float:left; margin-right:10px;}
.korg_app_page .korg_vcard div {margin-left:85px; font-size:95%;}
/* Action link styles */
.korg_app_page .korg_form ol .formheading {background:none; padding:5px; margin-bottom:10px; font-weight:400;}
.korg_app_page .korg_form ol .formheading h2 {display:inline; font-size:1em; margin-right:1em; background-color:transparent;}
.korg_app_page .korg_actionlink_header {display:inline; margin-right:1em; padding-left:4px;}
.korg_app_page ul.korg_actionlinks {display:inline; border-left:2px solid #666; border-bottom:2px solid #e6e6e6; list-style-type:none; margin:0; padding:0 0 2px 3px;}
.korg_app_page ul.korg_actionlinks li {display:inline; margin:0; padding:0;}
.korg_app_page ul.korg_actionlinks li a {margin:0; background-color:transparent; text-decoration:none; font-size:.85em;}
/* Toggle control views */
.korg_app_page .korg_toggle_control {background:url(/share/images/icons/workgroup/pl.gif) no-repeat 0 1px; padding-left:20px; cursor:pointer; font-weight:bold; margin-top:3px; width:16em;}
.korg_app_page h2.korg_toggle_control {padding-left:20px;}
.korg_app_page .korg_toggle_contract {background:url(/share/images/icons/workgroup/mi.gif) no-repeat 0 1px; padding-left:20px; cursor:pointer; font-weight:bold; margin-top:3px; width:16em;}
.korg_app_page .korg_toggle_expand {background-image:url(/share/images/icons/workgroup/pl.gif);}
/* Bulk Operation Preview classes */
.korg_app_page .korg_kpreviewfield_label {font-size:1.1em; font-weight:bold;}
.korg_app_page .korg_kpreviewfield_value ul {margin:.3em 0 1.25em 2em; list-style-type:disc;}
.korg_app_page .korg_kpreviewfield_value ul li {margin:0;}
/* Login Form Classes */
.korg_login_form ol {list-style-type:none; margin:0; padding:0;}
.korg_login_form ol li {margin-bottom:.5em;}
.korg_login_form .korg_form_checks {border:none; margin:0; padding:0;}
.korg_login_form .korg_form_checks ul {list-style-type:none; margin:0; padding:0;}
.korg_login_form .korg_form_checks ul li {margin:0; padding:0; font-size:.8em;}
.korg_login_form .korg_buttonbarleft {display:none;}
.korg_login_form .value {background:#fff;}
.korg_login_form a.openidinfo {padding:1px 4px; border:1px solid #f60; margin-left:2px; text-decoration:none; color:#f60; font-weight:bold; size:9px;}
.korg_login_form a.openidinfo:hover {background:#fff280;}
/*copied from styles folder */
div.menu {width:168px; text-align:left; border-left:1px solid #E7E7E7; background:url(/images/navleft/rightbg.gif) top right repeat-y; padding:0 5px 0 0;}
div.menu a {display:block; margin:0; padding:5px 5px; font:400 11px Arial,san-serif; text-decoration:none; border-bottom:1px solid #fff; color:#fff; background:#C40909;}
html>body div.menu a {width:auto;}
div.menu a:hover {background:#333; text-decoration:underline; color:#fff;}
div.menu a.menuon {background:#333; color:#fff;}
div.menu a:visited {color:#fff;}
/* $Id: site.css,v 1.7 2008-07-03 17:32:24 davida Exp $ */
#welcome {color:#333;}
#logos {padding:5px 20px 30px 0px;}
#topnavigation {background:#fff; margin-left:-5px; height:25px;}
#topnavigation div {float:left; width:92px; background:url(/images/navtop/navbg.gif) 0 -25px no-repeat; text-align:center; margin:0;}
#topnavigation a {font-size:11px; color:#fff; text-decoration:none; font-weight:800; display:block; margin:0; padding:6px 0 5px 0; width:100%; height:100%; overflow:hidden; background:url('/images/navtop/navbg.gif') top left no-repeat;}
#topnavigation a:hover {font-size:11px; color:#fff; background-image:none;}
#topnavigation a.on {font-size:11px; color:#fff; background-image:none;}
#topnavigation a:visited {font-size:11px; color:#fff;}
#maincontent {background:url(/images/maincontentbg.gif) repeat-y #fff;}
#pagecontent {padding:5px 0px 20px 10px;}
div#search {background:#fff; height:25px; float:left; width:167px;}
div#search form {display:inline; margin:0; padding:0;}
div#search input.txt {font:400 11px Arial,sans-serif; visibility:visible; border:1px solid #999; color:#000; background:#fff;}
div#search input.button {background:#333; color:#fff; font-size:11px;}
div.leftnav {width:168px; text-align:left; border-left:1px solid #E7E7E7; background:url(/sub_65hhwk/image_directory/rightbg.gif) top right repeat-y; padding:0 5px 0 0;}
div.leftnav a {display:block; margin:0; padding:5px 5px; font:400 11px Arial,san-serif; text-decoration:none; border-bottom:1px solid #fff; color:#fff; background:#C40909;}
html>body div.leftnav a {width:auto;}
div.leftnav a:hover {background:#333; text-decoration:underline; color:#fff;}
div.leftnav a.menuon {background:#333; color:#fff;}
div.leftnav a:visited {color:#fff;}
div.menubottom {background:url(/images/navleft/bottom_right.gif) top right no-repeat #fff; margin:0 0 20px 0;}
div.menubottom div {background:url(/images/navleft/bottombg.gif) repeat-x #fff; margin:0 5px 0 0;}
#footer {border-top:1px solid #666; padding:10px; font-size:11px;}
#footer div.kavi {margin-top:-3px; float:right;}
.featured {background:url(/images/home/arc_white.gif) no-repeat #fff; padding:20px 0 0 226px;}
h2.featured {color:#c00; margin:0; font-size:1.2em; padding:0;}
div.featuredlink {border-top:1px solid #000; text-align:right; padding-right:10px; margin:10px 0;}
div.featuredlink a {background:url(/images/home/black_arrows.gif) 0 2px no-repeat #fff; color:#000; text-decoration:none; padding-left:10px; font-weight:bold; line-height:1.5em;}
div.featuredlink a:hover {text-decoration:underline; color:#000;}
.contentbg {background:url(/images/contentbg.gif) #fff repeat-x;}
.subnumbers {font-size:10pt; color:#066;}
.white {color:#fff;}
.inset {margin:1in;}
.red {color:#f33;}
.green {color:#090;}
.grey {background:#ccc;}
.leftnav {background:#0F3171;}
.navtoprow {background:#999;}
.navtop li {display:inline; list-style-type:none; font-weight:bold;}
.navtop ul {margin:0; white-space:nowrap; padding:0;}
.navtop a {padding:2px 20px 2px 20px; border:1px solid #fff; background:#ddd; color:#000;}
.navtop a:link {color:#000; text-decoration:none; background:#ddd;}
.navtop a:visited {color:#000; text-decoration:none; background:#ddd;}
.navtop a:hover {border:1px solid #f00; background:#fff; color:#f00;}
.onlink a:link {border:1px solid #fff; background:#f00; color:#fff;}
.onlink a:visited {border:1px solid #fff; background:#f00; color:#fff;}
.onlink a:hover {border:1px solid #fff; background:#f00; color:#fff;}
#welcome {padding:3px 5px 3px 20px; background:url(/images/lock.gif) no-repeat #ccc; border:1px solid #0F3171;}
div.right {width:200px; margin:0 0 0 15px;}
div.right .border {border:1px solid #999; background:#fff;}
div.right h1 {background:#039; color:#fff; text-transform:uppercase; font-weight:700; padding:5px 0px 5px 10px; margin:0px;}
h2.underline {border-bottom:1px solid #ccc; margin:2em 0 0 0;}
table.usb-header-logo {
  width:100%;
}

table.usb-header-logo td {
  vertical-align:top;
  background:#C00 url(bg_usb-top.gif) left top repeat-x;
  height:33px;
}

table.usb-header-logo {
  width:100%;
}

table.usb-header-logo td {
  vertical-align:top;
  background:#C00 url(/imgs/bg_usb-top.gif) left top repeat-x;
  height:33px;
}

#logos {
padding:10px 20px 30px 0;
}

