@import url("/template/style.css");

* {
	background: none !important;
	color: black !important;
}

#header {
	border-bottom: 1px black solid !important;
}

#header img {
	display: none !important;
}

#navigation {
	display: none !important;
}

#footer {
	border-top: 1px black solid !important;
}
