/*  
Template name: Emplode
Template URI: http://templates.arcsin.se/emplode-website-template/
Release date: 2008-12-19
Description: A clean and simple two-column template.
Author: Viktor Persson
Author URI: http://arcsin.se/

This template is licensed under a Creative Commons Attribution 2.5 License:
http://templates.arcsin.se/license/
*/


/* 
   Reset (http://meyerweb.com/eric/tools/css/reset/)
------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }


/* 
   General 
------------------------------------------------------------------- */

html {
	font-size: 62.5%; /* reset 1em to 10px */
	height: 100%;
}

body {
	background: #353530;
	color: #5A5A50;
	font: normal 1.3em Georgia,sans-serif;
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}


/* 
   Typography 
------------------------------------------------------------------- */

p {
	line-height: 1.4em;
	padding: 0.2em 0 1.2em;
}

h1 {font: normal 3em Georgia,sans-serif;}
h2 {font: normal 2em Georgia,sans-serif;}
h3 {font: normal 1.5em Georgia,sans-serif;}
h4 {font: normal 1.4em Georgia,sans-serif;}
h5 {font: normal 1.3em Georgia,sans-serif;}
h6 {font: bold 1.2em Georgia,sans-serif;}

h1,h2,h3,h4,h5,h6 {margin-bottom: 0.2em;}

blockquote {
	background: #F6F6F2 url('../img/backgrounds.png') no-repeat 0 -414px;
	border-bottom: 1px solid #E0E0D4;
	border-top: 1px solid #E0E0D4;
	color: #332;
	display: block;
	margin: 0.6em 0 1.6em;
	padding: 0.8em 1em 0.2em 46px;
}

.imagecaption {
	text-align: center;
	font-weight: bold;
}

/* 
   Tables
------------------------------------------------------------------- */

table.data_table {
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}
table.data_table th {
	background: url('../img/grain_dark.gif');
	border: 1px solid #CCB;
	color: #555;
	text-align: left;
}
table.data_table tr {border-bottom: 1px solid #DDD;}
table.data_table td, table th {padding: 10px;}
table.data_table td {
	background: url('../img/grain_light.gif');
	border: 1px solid #DDC;
}


/* 
   Lists
------------------------------------------------------------------- */

dl {margin-bottom: 2em;}
dt,dd {padding: 8px 10px;}
dt {
	background: url('../img/grain_dark.gif');
	border-bottom: 1px solid #CCB;
	color: #555;
	font-weight: bold;
}
dd {
	background: url('../img/grain_light.gif');
	border-bottom: 1px solid #DDC;
	padding-left: 16px;
}

.featurelist { padding-left: 20px; list-style: none !important; }
.featurelist li {
	background: url('../img/grain_light.gif');
	border-bottom: 1px solid #DDC;
}

.projects li { list-style: none !important; margin: 5px; padding: 4px !important; background: url('../img/grain_light.gif'); border: 1px solid #DDC;}
.projects li a { font: bold 1.2em Georgia,sans-serif;}
.projects li p { padding-bottom: 0px; }

li.HTM {
	padding-left: 20px !important;
	background: url('../img/HTM.png') no-repeat center left;
}

li.PDF {
	padding-left: 20px !important;
	background: url('../img/PDF.png') no-repeat center left;
}

li.TXT {
	padding-left: 20px !important;
	background: url('../img/TXT.png') no-repeat center left;	
}

li.ZIP {
	padding-left: 20px !important;
	background: url('../img/ZIP.png') no-repeat center left;	
}

li.FOL {
	padding-left: 20px !important;
	background: url('../img/Folder.png') no-repeat center left;	
}

/* 
   Links 
------------------------------------------------------------------- */

a {color: #543;}
a:hover {
	color: #C40;
	text-decoration: underline;
}

/* 
   Images 
------------------------------------------------------------------- */

img.bordered {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
	margin-bottom: 5px;
}

img.left {margin: 0 15px 12px 0;}
img.right {margin: 0 0 15px 12px;}

img.mainimage {
	display: block;
	margin-left: auto;
	margin-right: auto
}


/* 
   Floats
------------------------------------------------------------------- */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;	
}


/* 
   Misc 
------------------------------------------------------------------- */

#pledgeinfo {
	display: inline-block;
	font-size: .8em;
}

.content_separator {
	background: #D6D6C6;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	height: 1px;
	line-height: 0;
	margin: 12px 0 24px;
}

.ruler { background: url('../img/ruler.gif') no-repeat 0 0; height: 10px; width: 300px; margin-left: 90px; margin-bottom: 10px; }

.dash_comments {
	background: url('../img/commentbubbles.gif') no-repeat 0 -2px;
	display: block;
	float: right;
	width: 20px;
	height: 24px;
	padding-top: 0;
}

.dash_newcomment {background: url('../img/commentbubbles.gif') no-repeat 0 -24px;}

.dash_comments:hover {background: url('../img/commentbubbles.gif') no-repeat 0 -46px;}

.dash_comments a {
	font: normal .8em Tahoma,Geneva,sans-serif !important;
	color: #FFFFFF !important;
	text-align: center;
	display: block;
	width: 20px;
	padding-top: 1px;
}

.followlink {
	float: right;
	font: normal .8em Tahoma,Geneva,sans-serif;
}

.followlink img {
	padding-left: 2px;
}

#twitter {
	margin-top: 3em;
}

#twitter h6 {padding-left: 10px;}

.tweet {
	min-height: 33px;
	padding: .5em;
	background: #F6F6F2;
	border: 1px solid #E0E0D4;
}

.tweet p {
	font-style: italic;
	padding: 0;
}

.tweet img {
	float: left;
	padding-right: 6px;
}

/* 
   Layout 
------------------------------------------------------------------- */

/* General */
.center_wrapper {
	margin: 0 auto;
	width: 855px;
}

#header {
	background: #35322B url('../img/backgrounds.png') repeat-x 0 0;
	padding-top: 8px;
	padding-left: 20px;
}

/* Site title */
#site_title {
	color: #998;
	padding: 0;
}
#site_title a {
	color: #FFF;
	text-decoration: none;
}
#site_title h1 span {color: #CCB;}
#title_img { padding-top: 3px; float: right; padding-right: 90px; }


/* Navigation */
#navigation ul, #navigation li {display: inline;}
#navigation li {display: inline;}
#navigation, #navigation a {background: #958573 url('../img/backgrounds.png') repeat-x 0 -222px;}
#navigation a {
	border-right: 1px solid #AFA69C;
	color: #654;
	float: left;
	font: bold 1em Georgia,Tahoma,sans-serif;
	margin-right: 1px;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
}

#navigation .nav_promotion a {background: #FFFFFF url('../img/nav_special_background.png');}

#navigation li:first-child a {border-left: 1px solid #AFA69C;}
#navigation a:hover,#navigation li.current_page_item a {
	background-position: 0 -294px;
	color: #543;
}

/* Main */
#main_wrapper_outer {background: url('../img/grain.gif'); }
#main_wrapper_inner {
	background: url('../img/main_wrapper_inner.gif') repeat-x left top;
	line-height: 1.4em;
	padding: 24px 0;
	min-height: 300px;
}
#main {
	font: normal 0.9em Verdana,sans-serif;
	width: 520px;
	padding-left: 20px;
}

#main ol, #main ul {margin: 0 0 1.2em 1.6em;}
#main ul li {list-style: disc;}
#main ol li {list-style: decimal;}
#main li {padding: 2px 0;}


/* Sidebar */
#sidebar {
	color: #665;
	width: 286px;
	border-left: 1px solid #CCB;
}
#sidebar_content {padding-left: 25px;}
#sidebar a {color: #665;}
#sidebar a:hover {color: #C40;}
#sidebar object { margin-left: 15px; }
#sidebar ul {
	padding-left: 20px;
	padding-bottom: 10px;
	list-style: disc;
	font: 1em bold Georgia,Tahoma,sans-serif;
}

/* Dashboard */
#dashboard {
	background: #DDD url('../img/grain_dark.gif');
	border-top: 1px dashed #C0C0B0;
	padding-left: 20px;
}
#dashboard_content {padding: 16px 0 22px;}

#dashboard .col3 {width: 255px;}
#dashboard .col3mid {width: 337px;}
#dashboard .col3mid .col3_content {
	border-left: 1px solid #CCB;
	border-right: 1px solid #CCB;
	padding: 0 20px;
	margin: 0 20px;
}

#dashboard li {
	height: 1.2em;
	line-height: 1.5em;
	overflow: hidden;
	color: #887;
	padding: 5px 0;
	border-top: 1px dashed #C6C6B6;
}
#dashboard li a {
	color: #606050;
	text-decoration: none;
}
#dashboard li a:hover {
	color: #332;
	text-decoration: underline;
}


/* Footer links */
#footer {
	color: #AA9;
	padding: 12px 0;
	padding-left: 20px;
}
#footer a {color: #BBA;}
#footer .right, #footer .right a {
	color: #777;
	text-decoration: none;
}
#footer a:hover {color: #CCB;}

/* 
   Thumbnails
------------------------------------------------------------------- */

.thumbnails {margin: 0 -0 2em -8px;}
.thumbnails a.thumb {	
	background: url('../img/grain_dark.gif');
	display: block;
	float: left;
	margin: 0 0 8px 8px;
	padding: 3px;
}
.thumbnails a.thumb:hover {background: #C6C6BA;}
.thumbnails .thumb img {display: block; width: 100px; height: 60px; }


/* 
   Box
------------------------------------------------------------------- */

.box {margin-bottom: 1.5em;}
.box_title {
	background: url('../img/grain_dark.gif');
	color: #665;
	font-weight: bold;
	padding: 5px 8px;
}
.box_title img {
	float: right;
	padding: none !important;
	margin: none !important;
}
.box_content {padding: 8px 0 8px;}
.box li {
	border-top: 1px solid #DDC;
	padding: 4px 6px;
}
.box li:first-child {border-top: none;}

/* 
   IE float/background fixes
------------------------------------------------------------------- */

.legend, blockquote, #sidebar {min-height: 0.01%;}